{% load static %}

<!-- sidebar.html -->
<aside class="w-64 bg-white p-6">
    <div class="flex items-center mb-6">
        <img src="{% static 'img/tasks-app-svgrepo-com.svg' %}" alt="Tasky Logo" class="h-10 mr-3">
        <span class="text-xl font-semibold">Tasky</span>
    </div>
    <nav>
        <ul>
            <li class="mb-2 sm:mb-4">
                <a href="{% url 'dashboard' %}" class="flex items-center p-2 rounded-lg {% if request.path == '/dashboard/' %}bg-blue-500 text-white{% else %}text-gray-600{% endif %}">
                    <svg class="w-6 h-6 mr-3" fill="currentColor" viewBox="0 0 20 20"><path d="M10 20a8 8 0 100-16 8 8 0 000 16zm1-11V5H9v4H5v2h4v4h2v-4h4V9h-4z"/></svg>Dashboard
                </a>
            </li>
            <li class="mb-2 sm:mb-4">
                <a href="{% url 'tasks' %}" class="flex items-center p-2 rounded-lg {% if request.path == '/dashboard/tasks' %}bg-blue-500 text-white{% else %}text-gray-600{% endif %}">
                    <svg class="w-6 h-6 mr-3" fill="currentColor" viewBox="0 0 20 20"><path d="M10 20a8 8 0 100-16 8 8 0 000 16zm-1-11V5h2v4h4v2h-4v4H9v-4H5V9h4z"/></svg>Tasks
                </a>
            </li>
            <li class="mb-2 sm:mb-4">
                <a href="" class="flex items-center p-2 rounded-lg {% if request.path == '/dashboard/calendar/' %}bg-blue-500 text-white{% else %}text-gray-600{% endif %}">
                    <svg class="w-6 h-6 mr-3" fill="currentColor" viewBox="0 0 20 20"><path d="M4 2a2 2 0 012-2h8a2 2 0 012 2v2h1a1 1 0 011 1v2h-2V5H4v2H2V5a1 1 0 011-1h1V2zm10 0h2v2h-2V2zM4 8h12v10a2 2 0 01-2 2H6a2 2 0 01-2-2V8zm1 2v8h2v-8H5zm6 0v8h2v-8h-2zM9 10v8h2v-8H9z"/></svg>Calendar
                </a>
            </li>
            <li class="mb-2 sm:mb-4">
                <a href="" class="flex items-center p-2 rounded-lg {% if request.path == '/dashboard/members/' %}bg-blue-500 text-white{% else %}text-gray-600{% endif %}">
                    <svg class="w-6 h-6 mr-3" fill="currentColor" viewBox="0 0 20 20"><path d="M6 2a4 4 0 100 8 4 4 0 000-8zm7 0a4 4 0 100 8 4 4 0 000-8zM4 9a7 7 0 00-4 6v2h8V15a4 4 0 00-4-4zm12 0a4 4 0 00-4 4v2h8v-2a7 7 0 00-4-6z"/></svg>Members
                </a>
            </li>
        </ul>
    </nav>
    <div class="flex-grow"></div>
    <button class="absolute bottom-12 left-5 p-5 py-5 flex flex-col items-center justify-center bg-purple-500 text-white rounded-md">
        <img src="{% static 'img/rocket.svg' %}" alt="Rocket" class="w-12 h-12 mb-2">
        <div class="text-center">Upgrade to Pro</div>
    </button>
</aside>
